header {
    text-align: center;
    border-style: groove;
    background-image: url("cycloneWire.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;  
    color: red;
}

a {
    border-style: groove;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display: bold;
    color: red;
    padding-left: 1%;
    padding-right: 1%;
    
}

body {
    background-image:url(destinyBack.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;   
    text-align: center;
}

section.weapons {
    width: 75%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.glock {
    width: 350px;
    height: 700px;
    background-color: gray;
    padding: 1%;
    margin: 1%;
    border-style: groove;

}

div.usp {
    width: 350px;
    height: 700px;
    background-color: gray;
    padding: 1%;
    margin: 1%;
    border-style: groove;

}
div.uspHover {
    padding: 1%;
    transition: transform .2s; /* Animation */
    width: 100px;
    height: 900px;
}
      
div.uspHover:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

div.glockHover {
    padding: 1%;
    transition: transform .2s; /* Animation */
    width: 100px;
    height: 900px;
}
      
div.glockHover:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

div.desertEagle {
    width: 350px;
    height: 700px;
    background-color: gray;
    padding: 1%;
    margin: 1%;
    border-style: groove;

}
div.desertEagleHover {
    padding: 1%;
    transition: transform .2s; /* Animation */
    width: 100px;
    height: 900px;
}
      
div.desertEagleHover:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

div.fiveSeven {
    width: 350px;
    height: 700px;
    background-color: gray;
    padding: 1%;
    margin: 1%;
    border-style: groove;

}
div.fiveSevenHover {
    padding: 1%;
    transition: transform .2s; /* Animation */
    width: 100px;
    height: 900px;
}
      
div.fiveSevenHover:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

div.cz75o {
    width: 350px;
    height: 700px;
    background-color: gray;
    padding: 1%;
    margin: 1%;
    border-style: groove;

}
div.cz75oHover {
    padding: 1%;
    transition: transform .2s; /* Animation */
    width: 100px;
    height: 900px;
}
      
div.cz75oHover:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

button {
    border-style: groove;
}

div.stats{
    text-align: justify;
}

div.navBar {
    background: blue;
    border-style: groove;
    height: 30px;
    font-size: 15px;
    text-align: justify;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    
}

a.devPage {
    float: right;
    padding-left: 1%;
    padding-right: 1%;
    
}

footer {
    text-align: center;
    border-style: groove;
    background-image: url("cycloneWire.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    color: red;
    left: 0;
    bottom: 0;
}